/* 1️ Fonts should always be first */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;...&display=swap');

/* 2️ Then Tailwind */
@import "tailwindcss";

/* 3️ Then our custom theme/colors */
@theme {
  --font-sans: "Poppins", sans-serif;
  --color-primary: #2b85ff;  
  --color-secondary: #ef863e; 
   --color-bg: #fdfeff;
}

/* 4️ Base styles */
@layer base {
  body {
   background-color: var(--color-bg);
    overflow-x: hidden;
  }
}

/* 5️ Utilities */
@utility input-box {
  @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
}

@utility btn-primary {
  @apply w-full text-sm bg-primary text-white p-2 rounded my-1 hover:bg-blue-700;
}
